{
  "presets": ["babel-preset-expo"],
  "plugins": [["import", { "libraryName": "antd-mobile" }], "babel-plugin-styled-components"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
